{% load static %}
<html>
  <head>
    <script src="{% static 'js/models/Pokemon.model.js' %}"></script>
    <script src="{% static 'js/services/pokemonService.getApiData.js' %}"></script>
    <script src="{% static 'js/services/pokemonService.getAllPokemon.js' %}"></script>
    <script src="{% static 'js/services/pokemonService.searchAllPokemon.js' %}"></script>
    <script src="{% static 'js/services/pokemonService.getLocalSoragePokemon.js' %}"></script>
    <script src="{% static 'js/services/pokemonService.serveGlobalVariables.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="header">
        {% include './partials/header.html' %}
    </div>
    <div class="main">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>